body{
    background-image:url(imagenes/F.jpg);
    background-size: cover;
}
h1{
    color:rgb(1, 2, 54);
    text-align: center;
    margin-top: 250px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    text-decoration: underline;
}
ol.Act {
    margin:0;
    padding: 0;
    list-style-type:none;
    text-align:center;
}
ol.Act li a{
    color:black;
    text-decoration: none;
    font-family:Calibri;
    border-radius: 20px;
}
ol.Act li a:hover{
background-color: rgb(197, 241, 241);
}

